.subtitle {
  color: var(--color-gray-8)
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  column-gap: 40px;
}

.divider-line {
  height: 13px;
  border-bottom: 1px solid var(--color-orange400);
  text-align: center;
  margin-bottom: 32px;
  margin-left: -24px;
  margin-right: -24px;
}

.divider-text {
  font-size: 14px;
  color: #8F8F8F;
  color: var(--color-orange500);
  background-color: #FAFAFA;
  padding: 0 10px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

.mat-progress-spinner circle,
  .mat-spinner circle {
  stroke: var(--color-orange500);
}

.intersection-and-loading {
  height: 200px;
}
