<div class="page-container-wide" [@routeAnimations]>
  <h1 class="page-title">
    Daily, Hastily-Curated ANGULAR News, Blogs, Videos and more
  </h1>
  <ng-container *ngIf="postsByDay$; else loadingSpinner">
    <div *ngFor="let dayGroup of postsByDay$ | async; let last = last" class="daily-section">
      <div class="divider-line">
        <span class="divider-text">{{ dayGroup.date }}</span>
      </div>
        <div class="flex-container">
          <div *ngFor="let post of dayGroup.dailyPosts">
            <app-post-card [post]="post"></app-post-card>
          </div>
        </div>
      </div>
      <div #loadMorePosts *ngIf="!(isLoadingPosts$ | async); else loadingSpinner"></div>
  </ng-container>

  <ng-template #loadingSpinner>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>
