img {
  margin-top: 10px;
  height: 36px;
  width: 36px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.auth-buttons {
  background-color: #252525;
  color: #EEE;
  border: 1px solid #EEE;
}

.handset-person-icon {
  margin-top: 8px;
  color: #EEE;
  cursor: pointer;
}