<!-- SIGNED IN -->
<ng-container *ngIf="(userAuthStatus$ | async)?.photoURL">
  <img [src]="(userAuthStatus$ | async)?.photoURL" [matMenuTriggerFor]="menuSignedIn" referrerpolicy="no-referrer">
  <mat-menu #menuSignedIn="matMenu" class="auth-menu">
    <button mat-menu-item aria-label="Sign out" (click)="signOutWithGoogle()">Sign Out</button>
  </mat-menu>
</ng-container>

<!-- NOT SIGNED IN -->
<ng-container *ngIf="!(userAuthStatus$ | async)">
  <button mat-icon-button aria-label="Open signin menu button" [matMenuTriggerFor]="menuSignedOut" class="toggle-signin-button">
    <mat-icon class="handset-person-icon">person</mat-icon>
  </button>
  <mat-menu #menuSignedOut="matMenu" class="auth-menu">
    <button mat-menu-item aria-label="Sign in with Google" (click)="signInWithGoogle()">Sign In with Google</button>
  </mat-menu>
</ng-container>

