<mat-toolbar class="toolbar-main" [ngClass]="{ 'admin-indicator': (isAdmin$ | async)}">
  <!-- ***** SIDENAV TOGGLE BUTTON ***** -->
  <button
    mat-icon-button
    (click)="toggleDrawer.emit(drawerOpen)"
    aria-label="Toggle sidenav button"
    class="sidenav-toggle-button"
    [ngClass]="{ 'sidenav-toggle-button-admin': (isAdmin$ | async)}"
  >
    <mat-icon aria-label="Side nav toggle icon" *ngIf="!drawerOpen"
      >menu</mat-icon
    >
    <mat-icon aria-label="Side nav toggle icon" *ngIf="drawerOpen"
      >menu_open</mat-icon
    >
  </button>

  <!-- ***** LOGO ***** -->
  <div class="toolbar-middle">
    <button mat-flat-button class="logo-home-button" [ngClass]="{ 'logo-home-button-admin': (isAdmin$ | async)}" [routerLink]="['/']">
      <img src="./assets/images/ngnuggets.png" class="ngnuggets-image" />
    </button>
  </div>

  <!-- ***** AUTH STATUS ***** -->
  <app-auth></app-auth>
</mat-toolbar>
