// SIDENAV STYLES
.mat-sidenav {
  width: 240px;
  margin-top: 56px;
  border: none;
  background: white;
}

.mat-nav-list {
  padding-left: 0px;

  .mat-list-item {
    height: 40px;
  }
}

.list-item-icon {
  padding-left: 2px;
  padding-right: 6px;
  color: #606060;
}

.list-item-text {
  padding-left: 12px;
}

.link-active {
  color: var(--color-orange500);

  .mat-icon {
    color: var(--color-orange500);
  }
}

.sub-menu {
  padding-left: 50px;
}

.menu-expand {
  padding-left: 80px;
}

hr {
  border-top: 1px solid #ccc;
}

// PAGE STYLES
.page-container {
  // width: 100%;
  position: relative; // used for route animation
  padding-top: 56px;
  @media screen and (max-width: 599px) {
    padding-top: 64px;
  }
}

// .page-container>* {
//   padding-top: 56px;
//   display: block;
//   @media screen and (max-width: 599px) {
//     padding: 0px;
//   }
// }

// .page-container-handset {
//   padding: 63px 0px 10px 0px;
// }