<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    >
    <mat-nav-list>
      <a
        *ngIf="isAdmin$ | async"
        class="mat-list-item"
        mat-list-item
        (click)="isHandset && drawer.close()"
        routerLinkActive="link-active"
        [routerLink]="['/admin']"
        >
        <mat-icon class="list-item-icon">lock</mat-icon>
        <span class="list-item-text">Admin</span></a
      >
      <hr *ngIf="isAdmin$ | async" />
      <a
        mat-list-item
        [routerLink]="['/posts']"
        (click)="isHandset && drawer.close()"
        routerLinkActive="link-active"
        ><mat-icon class="list-item-icon">home</mat-icon
        ><span class="list-item-text">Home</span></a
      >
      <!-- <a
        mat-list-item
        
        (click)="onClickFilters()"
        (click)="isHandset && !showFilters && drawer.close()"
      >
        <mat-icon class="list-item-icon">filter_alt</mat-icon>
        <span class="list-item-text">Filter By</span>
        <mat-icon class="menu-expand">expand_more</mat-icon></a
      > -->
      <!-- <mat-nav-list class="sub-menu" *ngIf="showFilters" @staggerList>
        <a mat-list-item><span class="list-item-text">Hide Videos</span></a>
        <a mat-list-item><span class="list-item-text">Hide Blogs</span></a>
        <a mat-list-item><span class="list-item-text">Hide Podcasts</span></a>
        <a mat-list-item><span class="list-item-text">Hide Releases</span></a>
        <a mat-list-item><span class="list-item-text">Hide Community</span></a>
      </mat-nav-list> -->

      <hr />

      <!-- <a
        mat-list-item

        routerLinkActive="link-active"
        (click)="isHandset && drawer.close()"
        ><mat-icon class="list-item-icon">mail</mat-icon
        ><span class="list-item-text">Newsletter</span></a
      > -->
      <!-- <a
        mat-list-item

        routerLinkActive="link-active"
        (click)="isHandset && drawer.close()"
        ><mat-icon class="list-item-icon">note_add</mat-icon
        ><span class="list-item-text">Submit Link</span></a
      > -->
      <!-- <a
        mat-list-item

        routerLinkActive="link-active"
        (click)="isHandset && drawer.close()"
        ><mat-icon class="list-item-icon">settings</mat-icon
        ><span class="list-item-text">Settings</span></a
      > -->
      <a
        mat-list-item
        [routerLink]="['/about']"
        routerLinkActive="link-active"
        (click)="isHandset && drawer.close()"
        ><mat-icon class="list-item-icon">info</mat-icon
        ><span class="list-item-text">About</span></a
      >
      <a
        mat-list-item
        [routerLink]="['/contact']"
        routerLinkActive="link-active"
        (click)="isHandset && drawer.close()"
        ><mat-icon class="list-item-icon">contact_page</mat-icon
        ><span class="list-item-text">Contact</span></a
      >


      <!-- <hr /> -->

      <!-- <a
        mat-list-item

        routerLinkActive="link-active"
        (click)="isHandset && drawer.close()"
        ><mat-icon class="list-item-icon">star</mat-icon
        ><span class="list-item-text">Sponsors</span></a
      > -->
      <!-- <a
        mat-list-item

        routerLinkActive="link-active"
        (click)="isHandset && drawer.close()"
        ><mat-icon class="list-item-icon">attach_money</mat-icon
        ><span class="list-item-text">Donate</span></a
      > -->

      <!-- <hr /> -->

      <!-- <a mat-list-item>
        <mat-icon class="angularmentors-light-icon">people_outline</mat-icon>
        <span class="list-item-text">
          <span class="angularmentors-light-angular">ANGULAR</span>
          <span class="angularmentors-light-mentors">MENTORS</span>
          <span class="angularmentors-light-dotcom">.COM</span>
        </span>
      </a> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Add Content Here -->
    <div
      class="page-container"
      [ngClass]="{ 'page-container-handset': isHandset }"
      [@routeAnimations]
    >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>