<div class="page-container-narrow" [@routeAnimations]>
  <h1 class="page-title">Contact</h1>
  <section>
    <h2>Steve Witman</h2>
    <ul>
      <li>
        <div class="title">Email: </div>
        <div class="subtitle">stevewitman@gmail.com</div>
      </li>
      <li>
        <div class="title">Location: </div>
        <div class="subtitle">Boulder, Colorado</div>
      </li>
      <li>
        <div class="title">Website: </div>
        <div class="subtitle"><a href="https://stevewitman.com">stevewitman.com</a></div>
      </li>
      <li>
        <div class="title">Github: </div>
        <div class="subtitle"><a href="https://github.com/stevewitman">github.com/stevewitman</a></div>
      </li>
      <li>
        <div class="title">Twitter: </div>
        <div class="subtitle"><a href="https://twitter.com/stevewitman">twitter.com/stevewitman</a></div>
      </li>
      <li>
        <div class="title">LinkedIn: </div>
        <div class="subtitle"><a href="https://linkedin.com/in/stevewitman">linkedin.com/in/stevewitman</a></div>
      </li>
      <li>
        <div class="title-long">Angular Community Meetup: </div>
        <div class="subtitle"><a href="https://www.meetup.com/angularcommunity">meetup.com/angularcommunity</a></div>
      </li>
      <li>
        <div class="title-long">Angular Boulder Meetup: </div>
        <div class="subtitle"><a href="https://meetup.com/angularboulder">meetup.com/angularboulder</a></div>
      </li>
    </ul>
  </section>
</div>
