<div class="page-container-narrow">
  <h1 class="page-title">Contact</h1>
  <section>
    <h2>Steve Witman</h2>
    <ul>
      <li>
        <span class="title">Email: </span>
        <span class="subtitle">stevewitman@gmail.com</span>
      </li>
      <li>
        <span class="title">Location: </span>
        <span class="subtitle">Boulder, Colorado</span>
      </li>
      <li>
        <span class="title">Phone: </span>
        <span class="subtitle">970-726-9930</span>
      </li>

      <li>
        <span class="title">Website: </span>
        <span class="subtitle"><a href="https://stevewitman.com">stevewitman.com</a></span>
      </li>
    </ul>
    <ul>
      <li>
        <span class="title">Github: </span>
        <span class="subtitle"><a href="https://github.com/stevewitman">github.com/stevewitman</a></span>
      </li>
      <li>
        <span class="title">Twitter: </span>
        <span class="subtitle"><a href="https://twitter.com/stevewitman">twitter.com/stevewitman</a></span>
      </li>
      <li>
        <span class="title">LinkedIn: </span>
        <span class="subtitle"><a href="https://linkedin.com/in/stevewitman">linkedin.com/in/stevewitman</a></span>
      </li>
      <li>
        <span class="title">Meetup: </span>
        <span class="subtitle"><a href="https://meetup.com/angularboulder">meetup.com/angularboulder</a></span>
      </li>
    </ul>
  </section>
</div>
