 a:link {
   text-decoration: none;
 }
 
 ul {
   list-style-type: none;
   padding: 0;
 }

 li {
   margin: 0 0 12px 0;
   font-size: larger;
 }
 
 .title {

}

.subtitle {
  font-weight: lighter;
  letter-spacing: 1px;
}