<mat-toolbar class="admin-toolbar">
  <button mat-button routerLink="dashboard" class="admin-toolbar-button">Dashboard</button>
  <button mat-button [matMenuTriggerFor]="posts" class="admin-toolbar-button">Posts</button>
  <button mat-button [matMenuTriggerFor]="manual" class="admin-toolbar-button">Manual</button>

  <!-- % POSTS SUBMENU -->
  <mat-menu #posts="matMenu" class="admin-menu">
    <button mat-menu-item routerLink="posts/add">Add Post</button>
    <button mat-menu-item routerLink="posts/add">Add Post</button>
    <button mat-menu-item routerLink="posts/add">Add Post</button>
  </mat-menu>

  <!-- ? MANUAL SUBMENU -->
  <mat-menu #manual="matMenu" class="admin-menu">
    <button mat-menu-item routerLink="manual/reverse-json">Reverse JSON</button>
    <button mat-menu-item routerLink="manual/upload-post-thumbs">Upload Images</button>
    <button mat-menu-item routerLink="manual/upload-week-json">Upload JSON</button>
  </mat-menu>
</mat-toolbar>
    