.admin-toolbar {
  position: fixed;
  top: 56px;
  background-color: var(--color-orange400);
  color: white;
  padding: 0 7px;
  height: 36px;
}

.admin-toolbar-button {
  background-color: var(--color-orange400);
  color: #FFFFFF;
}

// button.mat-menu-item {
//   height: 36px;
//   line-height: 36px;
// }
