<div class="page-container-narrow" [@routeAnimations]>
  <h1 class="page-title">About ngNuggets</h1>
  <section>
    <h2>Mission</h2>
    <p>To motivate self-leaning and to encourage Angular content creators.</p>

    <h2>What is ngNuggets?</h2>
    <p>ngNuggets is updated daily with the latest Angular videos, blogs, podcasts and more.  These are hastily curated for the Angular developer who wants a quick/easy place to find something new to learn.</p>

    <h2>MVP</h2>
    <p>This project is very much in the MVP stage.  I have been collecting posts every day since January 1st to get a sense of what Angular content is being created, how and whether or not I want to build and maintain this, what the data model should be etc. Now it is live and only time will tell if this gains any traction.
      
    <h2>Roadmap</h2>
    <p>Some of the things that I plan to include on this site is: filter posts by type (show just videos, just blog posts, etc), search for posts by tag (show only posts on a certain topic), indicate new posts since your last visit.  There are more ideas on the board for later.
    </p>

    <h2>Curation Criteria</h2>
    <p>Generally, the content selected is all Angular, with some closely related topics and/or content created by people who are well known in the Angular community.  I include all the quality content and advanced topics that I can find, but I will also include some more basic topics and also content from new Angular content creators.  Some of reasons content deosn't make the cut include videos that are very short, poor quailty sound, only music, or difficult to understand are not included, as well as content that is not free or that is too specific to a product that is not free.</p>

    <h2>Donations/Sponsorships</h2>
    <p>Selecting and creating the posts takes an hour each day, which at first mention might not sound like much, but that adds up to nine 40-hour weeks each year!  Nothing is formally set up yet, but I gladly accept donations and consider a sponsorship to offset some of the costs and time committment</p>

    <h2>Suggestions</h2>
    <p>All questions, comments and suggestions are welcome. Please see contact for ways to reach me.</p>
  </section>






</div>
