<div class="page-container-narrow" [@routeAnimations]>
  <h1 class="page-title">About ngNuggets</h1>
  <section>
    <h2>What is ngNuggets?</h2>
    <p>ngNuggets is updated daily with some of the latest/best Angular videos, blogs, podcasts and more.  These are hastily curated for the Angular developer who wants a quick/easy place to find something new to learn.</p>
    <br />
    <h2>Roadmap</h2>
    <p>ngNuggets is currently in the MVP stage, really just a personal project for learning purposes and for me to stay on top of Angular resources.</p>
    <p>A couple things that I plan to include on this site are: search for posts by tag (show only posts on a certain topic), and filter posts by type (show just videos, just blog posts, etc).
    </p>
    <br />
    <h2>Suggestions</h2>
    <p>All questions, comments and suggestions are welcome. Please see <a routerLink="/contact" class="link">Contact</a> for ways to contact me.</p>
  </section>
</div>
