<h1>Week: {{ week }}</h1>

<!-- <input type="file" (change)="onFileSelected($event)"> -->
<!-- <input type="file" (change)="uploadImage($event)"> -->



<h2>Posts</h2>
<div *ngFor="let post of posts; let i = index">
  <div>
    <span>{{ post.slug }}</span>
    <span *ngIf="posts[i].imgUrl" class="done">DONE</span>
    <input type="file" (change)="uploadImage($event, i)">
    <span *ngIf="error" class="error">ERROR</span>
    <img *ngIf="posts[i].imgUrl" [src]="posts[i].imgUrl" class="mini-img">

  </div>
  <hr>
</div>

<pre>{{ posts | json }}</pre>